main {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    width:90vw;
    height:90vw;
}

app-square{
    border: 1px solid #ccc;
    height: 25vw;
    width: 25vw;
}

button{
    width: 100%;
    margin:0;padding:0;
    font-weight: 700;

}

